<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="{{uiRootPath}}/img/robot.png" />
      <h1>&nbsp;&nbsp;Cloud Native Robotz Hackathon</h1>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" target="_blank" href="https://github.com/cloud-native-robotz-hackathon/infrastructure/issues/new">Feedback</a>
      </div>
    </div>
  </nav>
</header>
